body {
    background-color: #f1f1f1;
    font-family: Arial, sans-serif;
}

/* NAVIGATION */
ul {
    list-style-type: none;
    padding-inline-start: 0;
    margin-top: 30px;
}

.nav-header a, .nav-header li {
    margin-top: 20;
    color: #5DADE2;
    padding-bottom: 20px;
}

.nav-header li:hover {
    font-size: larger;
}

.nav-header a:hover {
    text-decoration: none;
    text-shadow: 0 4px 8px #D6DBDF;
}

/* SEARCH BARS */
.search-bar {
    background-color: white;
    border-radius: 20px;
    margin-top: 20px;
    box-shadow: 0 4px 8px #D6DBDF;
}

.search-bar .form-control {
    border: none;
    border-radius: 20px;
}

.btn-search {
    float: right;
}

/* HOME */
.date {
    background-color: white;
    border-radius: 6px;
    padding: 23px 10px;
    text-align: center;
    font-size: 10px;
    color: grey;
    margin-bottom: 20px;
}

.dateNum {
    font-size: 40px;
}

.weather {
    background-color: white;
    border-radius: 6px;
    padding: 10px;
    text-align: center;
    font-size: 10px;
    color: grey;
    margin-bottom: 20px;
}

.weather img {
    width: 50%;
}

/* HOME, ADD NAME, ADD COMPANY */
.home {
    margin-top: 20px;
    font-size: 14px;
}

.home-md {
    background-color: white;
    border-radius: 6px;
    padding: 20px 30px 242px;
    color: grey;
}

.home-sm {
    background-color: white;
    border-radius: 6px;
    padding: 95px 10px 10px;
    text-align: center;
    font-size: 10px;
    color: grey;
    margin-bottom: 20px;
}

.left p {
    color: #5DADE2;
}

.right {
    margin-top: 36px;
}

.add-name, .add-company, .name-info, .company-info {
    background-color: white;
    border-radius: 6px;
    margin-top: 20px;
    padding: 20px 50px 100px;
    font-size: 14px;
}

.add-name .form-control, .add-company .form-control, .company-info .form-control, .name-info .form-control, label {
    font-size: 12px;
}

label {
    margin: 10px 0 0;
}

h3 {
    font-size: 18px;
    margin: auto;
    padding-top: 7px;
}

/* SEARCH PAGES */
.company-search, .name-search {
    margin-top: 20px;
    padding: 20px 50px 200px;
    background-color: white;
    border-radius: 6px;
}

.company-search form, .name-search form {
    width: 100%;
}

td, th {
    font-size: 12px;
}

th a {
    color: black;
}

th a:hover {
    text-decoration: none;
    color: #5DADE2;
}

/* ADD NAME, ADD COMPANY */
.btn-right {
    float: right;
}